<!-- <ion-header class="heading">
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding center text-center class="background appbg">
    <img src="../../assets/imgs/splash.png" class="logo-image">
    <form class="form" (ngSubmit)="onSubmit()" name="loginForm">
      <ion-list style="margin-top: 50px;">
        <!-- <ion-spinner name="bubbles"></ion-spinner> -->
        <ion-item class="rounded bottom-color">
          <ion-input placeholder="Username" [(ngModel)] = "user.username" name="username"></ion-input>
        </ion-item>
        <br>
        <ion-item class="rounded bottom-color">
          <ion-input placeholder="Password" type="password" [(ngModel)] = "user.password" name="password"></ion-input>
        </ion-item>
      </ion-list><br>
      <button ion-button type="submit" block>Submit</button>
      <p style="text-align: right; margin-top: 20px !important;">
        <a href="https://www.talentmaximus.info/{{clientname}}">Forgot Password ?</a>
      </p>
    </form>

<!--     <button ion-button full (click)="login()">Log in</button> -->
<!--     <button ion-button full color="light" (click)="goRegister()">Register</button> -->
</ion-content>
<!-- <ion-footer no-shadow>
    <ion-icon name="arrow-round-forward" class="icons" (click)="goDashboard()"></ion-icon>
</ion-footer> -->
