page-pay {
    .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 50px !important;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .description {
        font-weight: bold;
        border: 1px solid white;
        padding: 3px !important;
        height: 35px !important;
        text-align: left !important;
        font-size: smaller !important;
        margin-bottom: -8px !important;
        background-color: gray;
        color: white !important;
        padding: 11px !important;
    }

    .amount {
        font-weight: bold;
        border: 1px solid white; 
        padding: 3px !important;
        margin-left: -12px;
        text-align: left !important;
        height: 35px !important;
        font-size: smaller !important;
        background-color: gray;
        color: white !important;
        padding: 11px !important;
    }

    .segment {
        font-weight: bold !important;
    }

    .result {
        width: 235px; word-wrap: break-word;
        font-size: small;
        background-color: #fff !important;
        border: none;
        text-align: center;
        margin-top: 20px;
    }
}

.pay-border {
    text-align: left !important;
    padding: 10px !important;
    border: 1px !important;
    border-color: black !important;
    border-top-style: solid !important;
    border-left-color: black !important;
    border-left: 1px !important;
    border-left-style: solid !important;
    border-bottom: 1px solid black !important;
}

.pay-right-border {
    text-align: right !important;
    border-right-color: black !important;
    border-right: 1px !important;
    border-right-style: solid !important;
}
