<ion-header>
  <ion-navbar>
    <ion-title>PAY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appbg">
  <ion-list>
    <form class="form" (ngSubmit)="onSubmit()" name="clientForm">  
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-select [(ngModel)]="pay.year" name="year "placeholder="Year" 
            class="rounded-pay" style="max-width: 100% !important;" interface="popover">
              <ng-container *ngFor="let payyear of payYear">
              <ion-option value="{{payyear}}">{{payyear}}</ion-option>
            </ng-container>
            </ion-select>
          </ion-col>
          <ion-col col-6>
            <ion-select [(ngModel)]="pay.month" name="month" placeholder="Month"
              class="rounded-pay" style="max-width: 100% !important;"  interface="popover">
                <ion-option value="1">January</ion-option>
                <ion-option value="2">February</ion-option>
                <ion-option value="3">March</ion-option>
                <ion-option value="4">April</ion-option>
                <ion-option value="5">May</ion-option>
                <ion-option value="6">June</ion-option>
                <ion-option value="7">July</ion-option>
                <ion-option value="8">August</ion-option>
                <ion-option value="9">September</ion-option>
                <ion-option value="10">October</ion-option>
                <ion-option value="11">November</ion-option>
                <ion-option value="12">December</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button full type="submit">Search</button>
    </form>  
  </ion-list>

  <div padding>
    <ion-segment [(ngModel)]="grossearning">
      <ion-segment-button value="grossearning" class="segment">
        Earnings
      </ion-segment-button>
      <ion-segment-button value="grossdeduction" class="segment">
        Deductions
      </ion-segment-button>
      <ion-segment-button value="netpay" class="segment">
        Net Pay
      </ion-segment-button>
    </ion-segment>
  </div>
  <div>
    <div [ngSwitch]="grossearning">
      <div *ngSwitchCase="'grossearning'">
        <table class="table striped"  style="margin-top: 20px;">
          <ng-container *ngFor="let pay of pays">  
            <tr *ngIf="pay.S_COMPONENT_TYPE === 'E'  && pay.N_COMPONENT_VALUE !== 0 && pay.N_COMPONENT_VALUE !== null" style="margin-top: 30px; color: black;">
                <td style="width: 235px; word-wrap: break-word;font-size: smaller;
                text-align: left;" class="pay-border"
                >{{pay.S_DESCRIPTION}}</td>
                <td style="width: 70px; font-size: smaller;text-align: right;" 
                class="pay-border pay-right-border" >{{pay.N_COMPONENT_VALUE}}</td>
            </tr>
          </ng-container>
        </table>
        <td *ngIf="pays?.length === 0 && isSubmitted" class="result">No Results Found</td>
      </div>

      <div *ngSwitchCase="'grossdeduction'">
          <table class="table striped"  style="margin-top: 20px;">
          <ng-container *ngFor="let pay of pays">  
            <tr *ngIf="pay.S_COMPONENT_TYPE === 'D'  && pay.N_COMPONENT_VALUE !== 0 && pay.N_COMPONENT_VALUE !== null" style="margin-top: 30px; color: black;">
                <td style="width: 235px; word-wrap: break-word;font-size: smaller;text-align: left;"
                class="pay-border"
                >{{pay.S_DESCRIPTION}}</td>
                <td style="width: 70px; font-size: smaller;text-align: right;"
                class="pay-border pay-right-border"  >{{pay.N_COMPONENT_VALUE}}</td>
            </tr>
          </ng-container>
        </table>
         <td *ngIf="pays?.length === 0 && isSubmitted === true" class="result">No Results Found</td>
      </div>

      <div *ngSwitchCase="'netpay'">
        <table class="table striped"  style="margin-top: 20px;">
          <ng-container *ngFor="let pay of pays">  
            <tr *ngIf="pay.S_COMPONENT_TYPE === 'O'  && pay.N_COMPONENT_VALUE !== 0 && pay.N_COMPONENT_VALUE !== null" style="margin-top: 30px; color: black;">
                <td style="width: 235px; word-wrap: break-word;font-size: smaller;text-align: left;"
                class="pay-border">{{pay.S_DESCRIPTION}}</td>
                <td style="width: 70px; font-size: smaller;text-align: right;"
                class="pay-border pay-right-border"  >{{pay.N_COMPONENT_VALUE}}</td>
            </tr>
          </ng-container>
        </table>
          <td *ngIf="pays?.length === 0 && isSubmitted === true" class="result">No Results Found</td>
      </div>
    </div>
  </div>
</ion-content>
