<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding center text-center style="margin-top: 100px;">
	<ion-list>
		<ion-item>
			<ion-input placeholder="Username" [(ngModel)] = "username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Password" type="password" [(ngModel)] = "password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Repeat Password" type="password" [(ngModel)] = "repass"></ion-input>
		</ion-item>
	</ion-list>

	<button ion-button full>Register</button>
</ion-content>
