page-ctc {

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color: black !important;
}

// tr:nth-child(even) {
//     background-color: white;
// }
