<ion-header>
  <ion-navbar>
    <ion-title>CTC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg appbg">
  <table class="table striped"  *ngIf="ctcs.length > 0">
    <tr class="pay-border">
      <th class="pay-border">TITLE</th>
      <th class="pay-border pay-right-border">MONTHLY</th>
      <th class="pay-border pay-right-border">ANNUAL</th>
    </tr>
    <ng-container *ngFor="let ctc of ctcs">
      <tr *ngIf="ctc.MONTHLY || ctc.ANNUAL || ctc.YEARLY" class="pay-border pay-right-border" >
        <td style="width: 160px; font-size: smaller;" class="pay-border" >{{ctc.COMNAME}}</td>
        <td style="width: 70px; text-align: right; font-size: smaller;"
        class="pay-border pay-right-border" >{{ctc.MONTHLY}}</td>
        <td style="width: 70px; text-align: right; font-size: smaller;"
        class="pay-right-border" >{{ctc.ANNUAL}}{{ctc.YEARLY}}</td>
      </tr>
    </ng-container>     
    
  </table>
</ion-content>
<td *ngIf="ctcs?.length < 1" class="result">
  Ctc is not enabled for the Client
</td>
