page-main {

}

.background {
	// background-color: #9E1E62;
	background-color:white;
}

.icons {
	cursor: pointer;
	font-size: 4.2rem;
	float: right;
	// margin-right: 15px;
	background-color: white;
	border-radius: 15px;
}

.bg {
	background-color: #FBFCFC;
}

.icons-img {
	cursor: pointer !important;
	font-size: 3.2rem;
	float: right;
	margin-right: 15px;
}

.logo-image {
	display: inline-block;
	max-width: 100%;
	height: 75px;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin-top: 80px;
}

// .heading {
// 	background-color: #9E1E62;
// }

.rounded {
	border: 2px solid #88006a;
	margin:10px auto;
	border-radius: 10px !important;
}

.rounded-pay {
	border: 2px solid grey;
	margin:10px auto;
	border-radius: 1px !important;
}

.list-md .item-input:last-child {
	border-bottom: 2px solid #88006a;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	border-bottom-color: #88006a !important;
	-webkit-box-shadow: inset 0 -1px 0 0 #88006a !important;
	box-shadow: inset 0 -1px 0 0 #88006a !important;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
	border-bottom-color: #88006a !important;
	-webkit-box-shadow: inset 0 -1px 0 0 #88006a !important;
	box-shadow: inset 0 -1px 0 0 #88006a !important;
}

.select-md .select-placeholder {
	color: #88006a;
}

.select-md .select-icon .select-icon-inner {
	color: #88006a;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 3rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

// tr:nth-child(odd) {
//     background-color: #e4ddec !important;
// }

// tr:nth-child(even) {
//     background-color: black!important;
// }

.button-md {
	height: 4.6rem !important;
	border-radius: 10px !important;
}
