page-dashboard {

	.back-button.show-back-button {
		display: none !important;
	}

	.homebg {
		background-color: white;
	}

	.headbg {
		//background-color:#b2102f;
		// background-image: linear-gradient(to right, white 0%, rgb(193, 186, 235) 100%);
		height: 120px;
		border: 2px solid #88006a;
		border-radius: 15px !important;
		text-align: left !important;
		width: 100% !important;
	}

	h3 {
		margin-top: 2.7rem !important;
	    margin-bottom: -3rem !important;
		margin-left: 20px; 
		margin-top: 0px !important;
		color: #88006a !important;
	}

	.card-md h3 {
		font-weight: bold !important;
		// color: #3F51B5 !important;
		font-family: initial !important;
		font-size: 22px !important;
	}

	.tax {
		margin-top: 0px;
	}

	.image {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 60px;
	    height: 60px;
	}

	.size {
		text-align: center;
	    margin-top: 6px !important;
	    font-family: sans-serif !important;
	}

	.scroll-content {
		padding: 0px !important;
	 }
}

.bgcolor {
	background-color: blue !important;
}

.appbg {	
	background-color:white !important;
}


