<ion-header style="margin-bottom:50px;">
  <ion-navbar>
    <h3 style="color: white !important;">Home</h3>
    <ion-icon name="person" class="icons-img" (click)="navigateProfilePage()"
      style="color: white !important;"></ion-icon>
    <ion-icon name="log-out" class="icons-img" (click)="logout()" style="color: white !important;"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding class="homebg appbg">
  <div>
    <img src="../../assets/imgs/home1.jpeg">
  </div>
  <div style="margin-top: 35px !important;"> 
      <ion-row style="margin-top: 20px;">
        <ion-col col-6>
          <ion-card text-center class="icons" (click)="navigate()" *ngFor="let menu of menus" color=“primary”>
            <ion-card-header class="headbg" *ngIf="menu?.S_MENU_DESC === 'PAYSLIP'">
              <img src="../../assets/imgs/ctc1.svg" class="image">
              <h3 class="size">PAY</h3>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center class="icons tax" (click)="navigateTaxPage()" *ngFor="let menu of menus">
            <ion-card-header class="headbg" *ngIf="menu?.S_MENU_DESC === 'TAX SHEET'">
              <img src="../../assets/imgs/tax1.svg" class="image">
              <h3 class="size">TAX</h3>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 offset-3 style="margin-top: -25px;" text-center>
          <ion-card text-center class="icons" (click)="navigateCtcPage()" *ngFor="let menu of menus">
            <ion-card-header class="headbg" *ngIf="menu?.S_MENU_DESC === 'CTC DETAILS'"> 
              <img src="../../assets/imgs/ctc.png" class="image">
              <h3 class="size">CTC</h3>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
  </div>
<p style="text-align: center;background-color: #6a5088; 
          color: white; height: 20px; margin-top: 30px;">talent Maximus India Pvt. LTD</p>

</ion-content>
