<ion-header>
  <ion-navbar>
    <ion-title>PROFILE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg appbg">
 <div *ngFor="let profile of profiles">
    <ion-row *ngIf="profile.EMPLOYEE_ID">
        <ion-col col-6>
            <div>EMPLOYEE ID</div>
        </ion-col>
        <ion-col col-6>
            {{profile.EMPLOYEE_ID}}
        </ion-col>
    </ion-row><hr *ngIf="profile.EMPLOYEE_ID">
    <ion-row *ngIf="profile.NAME">
     <ion-col col-6>
        <div>NAME</div>
     </ion-col>
     <ion-col col-6>
        {{profile.NAME}}
     </ion-col>
    </ion-row><hr *ngIf="profile.NAME">
    <ion-row *ngIf="profile.BRAND">
        <ion-col col-6>
            <div>DEPARTMENT</div>
        </ion-col>
        <ion-col col-6>
            {{profile.BRAND}}
        </ion-col>
    </ion-row><hr *ngIf="profile.BRAND">
    <ion-row *ngIf="profile.DESIGNATION">
        <ion-col col-6>
            <div>DESIGNATION</div>
        </ion-col>
        <ion-col col-6>
            {{profile.DESIGNATION}}
        </ion-col>
      </ion-row><hr *ngIf="profile.DESIGNATION">
    <ion-row  *ngIf="profile.LOCATION">
      <ion-col col-6>
          <div>LOCATION</div>
      </ion-col>
      <ion-col col-6>
          {{profile.LOCATION}}
      </ion-col>
    </ion-row><hr *ngIf="profile.LOCATION">
    <ion-row *ngIf="profile.PAN_CARD_NUMBER">
      <ion-col col-6>
          <div>PAN NUMBER</div>
      </ion-col>
      <ion-col col-6>
          {{profile.PAN_CARD_NUMBER}}
      </ion-col>
    </ion-row><hr *ngIf="profile.PAN_CARD_NUMBER">
    <ion-row  *ngIf="profile.REPORTING_MANAGER">
        <ion-col col-6>
            <div>REPORTING MANAGER</div>
        </ion-col>
        <ion-col col-6>
            {{profile.REPORTING_MANAGER}}
        </ion-col>
    </ion-row><hr *ngIf="profile.REPORTING_MANAGER">
    <ion-row  *ngIf="profile.DATE_OF_BIRTH">
        <ion-col col-6>
            <div>DATE OF BIRTH</div>
        </ion-col>
        <ion-col col-6>
            {{profile.DATE_OF_BIRTH}}
        </ion-col>
    </ion-row><hr *ngIf="profile.DATE_OF_BIRTH">
    <ion-row *ngIf="profile.DATE_OF_JOINING">
      <ion-col col-6>
          <div>DATE OF JOINING</div>
      </ion-col>
      <ion-col col-6>
          {{profile.DATE_OF_JOINING}}
      </ion-col>
    </ion-row><hr *ngIf="profile.DATE_OF_JOINING">
 </div>
</ion-content>

<ion-footer no-shadow>
  <div style="text-align: center;">
    <button ion-button  (click)="navigateResetPage()">Reset Password</button>
  </div>
</ion-footer>
