<ion-content padding center text-center class="background appbg">
		<img src="../../assets/imgs/splash.png" class="logo-image">
		<!-- <h2 style="color: #F39C12; margin-top: 50px;">Talent Maximus<br> India</h2> -->
		<ion-list style="margin-top: 60px;">
			<form class="form" (ngSubmit)="onSubmit()" name="clientForm">
				<ion-list style="margin-top: 60px;">
				  <ion-item class="rounded">
						<ion-input placeholder="Clientcode" [(ngModel)] = "client.clientcode"
						 name="clientcode"></ion-input>
				  </ion-item>
				  <br>
				</ion-list>
				<button ion-button type="submit" block>Submit</button>
			  </form>
		</ion-list>

<!-- 		<button ion-button full color="dark">Log in</button> -->
<!-- 		<button ion-button full color="light" (click)="goRegister()">Register</button> -->
</ion-content>
<!-- <ion-footer no-shadow>
		<ion-icon name="arrow-round-forward" class="icons" (click)="goLogin()"></ion-icon>
</ion-footer> -->
