<ion-header>
  <ion-navbar>
    <ion-title>TAX</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding class="bg">
  <table class="table" *ngFor="let tax of taxs"
     style="background-color: #488aff; margin-top: 10px; 
            color: white;"> -->
    <!-- <tr>  
      <th></th>
      <th>Actual</th>
      <th>Taxable</th>
    </tr>  -->

    <!-- <tr *ngIf="tax.N_ACTUAL_AMOUNT !== 0 && 
                tax.N_TAXABLE_AMOUNT !== 0">
                <p>{{tax.S_DESCRIPTION}}</p>
                <p>{{tax.N_TAXABLE_AMOUNT}}</p>
    </tr>
  </table>
</ion-content> -->
<ion-content padding class="bg appbg">
  <!-- <div class="accordion">
    <ul >
      <li>
        <a href="#" class="acc-handle" tabindex="0">SALARY & PERQ</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='SALARY & PERQ'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== 0 && tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="1">EXEMPTIONS U/S 10</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='EXEMPTIONS U/S 10'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== 0 && tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0">EXEMPTIONS U/S 16</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='EXEMPTIONS U/S 16'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== 0 && tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0">REBATES & RELIEFS</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='REBATES & RELIEFS'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== 0 && tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0" data-toggle="collapse" data-target="#demo">TAXABLE INCOME</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='TAXABLE INCOME'" id="demo" class="collapse">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== 0 && tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0">TAXABLE LIABILITY</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='TAXABLE LIABILITY'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0">TAX DEDUCTED TILL DATE</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='TAX DEDUCTED TILL DATE' || tax.GROUP_DETAILS ==='INCOME TAX BREAKUP'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="acc-handle" tabindex="0">TAX DUE</a>
        <div class="acc-panel">
          <div  *ngFor="let tax of taxs">
            <div *ngIf="tax.GROUP_DETAILS ==='TAX DUE'">
              <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
              class="rowheight">
                <ion-col col-7 class="name"> 
                    {{tax.S_DESCRIPTION}} 
                </ion-col>
                <ion-col col-1 class="name"> 
                    <p>:</p>
                </ion-col>
                <ion-col col-4 class="name aligning"> 
                    {{tax.N_TAXABLE_AMOUNT}}
                  </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </li>
  </ul>
  </div> -->
  <div class="wrapper">
      
      <div class="half">
        <div class="tab">
          <input id="tab-one" type="checkbox" name="tabs">
          <label for="tab-one" class="header">SALARY & PERQ</label>
          <div class="tab-content">
              <div  *ngFor="let tax of taxs">
                <div *ngIf="tax.GROUP_DETAILS ==='SALARY & PERQ'" class="pad">
                  <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                  class="rowheight">
                    <ion-col col-7 class="name"> 
                        {{tax.S_DESCRIPTION}} 
                    </ion-col>
                    <ion-col col-1 class="name"> 
                        <p class="ptag">:</p>
                    </ion-col>
                    <ion-col col-4 class="name aligning"> 
                        {{tax.N_TAXABLE_AMOUNT}}
                      </ion-col>
                  </ion-row>
                </div>
              </div>
          </div>
        </div>
        <div class="tab">
          <input id="tab-two" type="checkbox" name="tabs">
          <label for="tab-two" class="header">EXEMPTIONS U/S 10</label>
          <div class="tab-content">
              <div  *ngFor="let tax of taxs">
                  <div *ngIf="tax.GROUP_DETAILS ==='EXEMPTIONS U/S 10'" class="pad">
                    <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                    class="rowheight">
                      <ion-col col-7 class="name"> 
                          {{tax.S_DESCRIPTION}} 
                      </ion-col>
                      <ion-col col-1 class="name"> 
                          <p class="ptag">:</p>
                      </ion-col>
                      <ion-col col-4 class="name aligning"> 
                          {{tax.N_TAXABLE_AMOUNT}}
                        </ion-col>
                    </ion-row>
                  </div>
                </div>
          </div>
        </div>
        <div class="tab">
            <input id="tab-three" type="checkbox" name="tabs">
            <label for="tab-three" class="header">EXEMPTIONS U/S 16</label>
            <div class="tab-content">
                <div  *ngFor="let tax of taxs">
                    <div *ngIf="tax.GROUP_DETAILS ==='EXEMPTIONS U/S 16'" class="pad">
                      <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                      class="rowheight">
                        <ion-col col-7 class="name"> 
                            {{tax.S_DESCRIPTION}} 
                        </ion-col>
                        <ion-col col-1 class="name"> 
                            <p class="ptag">:</p>
                        </ion-col>
                        <ion-col col-4 class="name aligning"> 
                            {{tax.N_TAXABLE_AMOUNT}}
                          </ion-col>
                      </ion-row>
                    </div>
                  </div>
            </div>
        </div>
        <div class="tab">
          <input id="tab-four" type="checkbox" name="tabs">
          <label for="tab-four" class="header">REBATES & RELIEFS</label>
          <div class="tab-content">
            <div  *ngFor="let tax of taxs">
              <div *ngIf="tax.GROUP_DETAILS ==='REBATES & RELIEFS'" class="pad">
                <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                class="rowheight">
                  <ion-col col-7 class="name"> 
                      {{tax.S_DESCRIPTION}} 
                  </ion-col>
                  <ion-col col-1 class="name"> 
                      <p class="ptag">:</p>
                  </ion-col>
                  <ion-col col-4 class="name aligning"> 
                      {{tax.N_TAXABLE_AMOUNT}}
                    </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
        <div class="tab">
            <input id="tab-five" type="checkbox" name="tabs">
            <label for="tab-five" class="header">TAXABLE INCOME</label>
            <div class="tab-content">
            <div  *ngFor="let tax of taxs">
                <div *ngIf="tax.GROUP_DETAILS ==='TAXABLE INCOME'" class="pad">
                  <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                  class="rowheight">
                    <ion-col col-7 class="name"> 
                        {{tax.S_DESCRIPTION}} 
                    </ion-col>
                    <ion-col col-1 class="name"> 
                        <p class="ptag">:</p>
                    </ion-col>
                    <ion-col col-4 class="name aligning"> 
                        {{tax.N_TAXABLE_AMOUNT}}
                      </ion-col>
                  </ion-row>
                </div>
            </div>
          </div>
        </div>
        <div class="tab">
          <input id="tab-six" type="checkbox" name="tabs">
          <label for="tab-six" class="header">TAXABLE LIABILITY</label>
          <div class="tab-content">
            <div  *ngFor="let tax of taxs">
              <div *ngIf="tax.GROUP_DETAILS ==='TAXABLE LIABILITY'" class="pad">
                <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                class="rowheight">
                  <ion-col col-7 class="name"> 
                      {{tax.S_DESCRIPTION}} 
                  </ion-col>
                  <ion-col col-1 class="name"> 
                      <p class="ptag">:</p>
                  </ion-col>
                  <ion-col col-4 class="name aligning"> 
                      {{tax.N_TAXABLE_AMOUNT}}
                    </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
        <div class="tab">
          <input id="tab-seven" type="checkbox" name="tabs">
          <label for="tab-seven" class="header">TAX DEDUCTED TILL DATE</label>
          <div class="tab-content">
            <div  *ngFor="let tax of taxs">
              <div class="pad"
                  *ngIf="tax.GROUP_DETAILS ==='TAX DEDUCTED TILL DATE' || tax.GROUP_DETAILS ==='INCOME TAX BREAKUP'">
                <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                class="rowheight">
                  <ion-col col-7 class="name"> 
                      {{tax.S_DESCRIPTION}} 
                  </ion-col>
                  <ion-col col-1 class="name"> 
                      <p class="ptag">:</p>
                  </ion-col>
                  <ion-col col-4 class="name aligning"> 
                      {{tax.N_TAXABLE_AMOUNT}}
                    </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
        <div class="tab">
          <input id="tab-eight" type="checkbox" name="tabs">
          <label for="tab-eight" class="header">TAX DUE</label>
          <div class="tab-content">
            <div  *ngFor="let tax of taxs">
                <div *ngIf="tax.GROUP_DETAILS ==='TAX DUE'" class="pad">
                  <ion-row *ngIf="tax.N_TAXABLE_AMOUNT !== null"
                  class="rowheight">
                    <ion-col col-7 class="name"> 
                        {{tax.S_DESCRIPTION}} 
                    </ion-col>
                    <ion-col col-1 class="name"> 
                        <p class="ptag">:</p>
                    </ion-col>
                    <ion-col col-4 class="name aligning"> 
                        {{tax.N_TAXABLE_AMOUNT}}
                      </ion-col>
                  </ion-row>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</ion-content>