page-tax {
    // *, *:before, *:after {
    //     box-sizing: border-box;
    //   }
      
    //   html {
    //     height: 100%;
    //   }
      
    //   body {
    //     height: 100%;
    //     background: #6a5088;
    //     font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    //   }
      
    //   h1, blockquote {
    //     color: #fafafa;
    //     text-align: center;
    //   }
      
    //   code {
    //     font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; 
    //     margin: 0 0.1em;
    //     background: #1B2938;
    //     padding: 0 0.5em 0.2em;
    //   }
      
    //   img {
    //     float: left;
    //     margin: 0 1em 0 0;
    //   }
      
    //   p {
    //     margin: 0 0 1.5em 0; 
    //   }
      
    //   .accordion {
    //     display:block;
    //     position: relative;
    //     width: 330px;
    //     margin: 10px auto;
    //     height: auto;
    //     box-shadow: 0 2px 5px rgba(0,0,0,.25);
    //   }
      
    //   .accordion > ul {
    //     display: block;
    //     list-style: none;
    //     padding :0;
    //     margin: 0;
    //   }
      
    //   .accordion > ul > li {
    //     display: block;
    //     position: relative;
    //     margin-bottom: -1px;
    //     overflow: hidden;
    //     color: black;
    //     background: #fafafa;
    //     border: 1px solid #D1D1D1;
    //   }
      
    //   .accordion > ul > li:first-child {
    //     border-radius: 0.3em 0.3em 0 0;
    //   }
      
    //   .accordion > ul > li:last-child {
    //     border-radius: 0 0 0.3em 0.3em;
    //   }
      
    //   .acc-handle {
    //     display:block;
    //     position: relative;
    //     padding: 1.5em;
    //     color: black;
    //     background: #488aff;
    //     text-decoration: none;
    //     z-index: 3;
    //     box-shadow: inset 0 1px 0 rgba(255,255,255,0.8);
    //     transition: all .25s ease;
    //     color: white !important;
    //     font-weight: bold !important;
    //   }
      
    //   .acc-handle:hover {
    //     color: black;
    //     background: #488aff;
    //   }
      
    //   .acc-handle:before, .acc-handle:after {
    //     content: '';
    //     position: absolute;
    //     transition: all .3s ease;
    //   }
      
    //   .acc-handle:before {
    //     width: 1em;
    //     border-top: .15em solid;
    //     border-bottom: .15em solid;
    //     top: 50%;
    //     margin-top: -0.15em; 
    //     right: 1.45em;
    //   }
      
    //   .acc-handle:after {
    //     height: 1em;
    //     width: 0.3em;
    //     border-top: 0.5em solid;
    //     border-bottom: 0.5em solid;
    //     right: 1.8em;
    //     top: 50%;
    //     margin-top: -0.55em;
    //   }
      
    //   .acc-panel {
    //     padding: 1.5em;
    //     position: relative;
    //     float: left;
    //     width: 100%;
    //     clear: both;
    //     margin-top: -100%;
    //     z-index: 1;
    //     transition: all 1.2s ease;
    //   }
      
    //   .acc-handle:focus {
    //     outline: none;
    //     background: #488aff;
    //   }
      
    //   .acc-handle:focus:after{
    //     height: 0;
    //     border: 0;
    //     margin-top: 0;
    //     opacity: 0;
    //   }
      
    //   .acc-handle:focus + .acc-panel {
    //     margin-top: 0;
    //     border-top: 1px solid #d1d1d1;
    //     transition: all 0.6s ease-in-out;
    //   }
      
    //   .acc-panel * { 
    //     opacity: 0;
    //     transition: all 1s linear;
    //   }
      
    //   .acc-handle:focus + .acc-panel * {
    //     opacity: 1;
    //   }

      .name {
        font-size: smaller;
        color: black;
      }

      .rowheight {
        margin-top: 10px !important;
        margin-bottom: 6px !important;
      }

    //   .acc-handle.activated:click {
    //     display: none;
    //   }

    .aligning {
      text-align: right !important;
    }

    body {
      color: #6a5088;
      background: #ecf0f1;
    }

    h1 {
      text-align: center;
    }

    .half {
      float: left;
      width: 100%;
      // padding: 0 1em;
    }

    /* Acordeon styles */
    .tab {
      position: relative;
      margin-bottom: 1px;
      width: 100%;
      color: #fff;
      overflow: hidden;
      // margin-top: 20px;
    }

    .tab input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    .tab label {
      position: relative;
      display: block;
      padding: 0 0 0 1em;
      background: #6a5088;
      font-weight: bold;
      line-height: 4.5;
      cursor: pointer;
    }

    .blue label {
      background: #6a5088;
    }
    .tab-content {
      max-height: 0;
      overflow: hidden;
      background: white;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s;
      // padding: 1.5em;
    //     position: relative;
    //     float: left;
    //     width: 100%;
    //     clear: both;
    //     margin-top: -100%;
    //     z-index: 1;
    //     transition: all 1.2s ease;
    }
    .blue .tab-content {
      background: #6a5088;
    }
    .tab-content p {
      margin: 1em;
    }
    /* :checked */
    .tab input:checked ~ .tab-content {
      max-height: 100vh;
      border: 1px solid #6a5088;
    }
    /* Icon */
    .tab label::after {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 3em;
      height: 3em;
      line-height: 4.5;
      text-align: center;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
    }
    .tab input[type=checkbox] + label::after {
      content: "+";
    }
    .tab input[type=radio] + label::after {
      content: "\25BC";
    }
    .tab input[type=checkbox]:checked + label::after {
      transform: rotate(315deg);
    }
    .tab input[type=radio]:checked + label::after {
      transform: rotateX(180deg);
    }

    .header {
      color: white !important;
      font-weight: bold !important;
    }
    
    .pad {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 9px;
    }

    .ptag {
      margin: 0em !important;
    }
}


/*
* Table CSS
******************/
table, th, td {
  border: none;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table.striped tr {
  border-bottom: none;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
}

table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: '\00a0';
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}
