<ion-header>
  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding center text-center class="background appbg">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" ngFormModel="reset">        
        <!-- <p *ngIf="formErrors.new_password" class="alert alert-success"
        style="margin-top:20px;margin-bottom: 20px;">{{formErrors.new_password}}
        </p>
        <p *ngIf="formErrors.password" class="alert alert-success"
        style="margin-top:20px;margin-bottom: 20px;">{{formErrors.password}}
        </p> -->
      <ion-list style="margin-top: 60px;">
          <ion-item class="rounded bottom-color">
            <ion-input placeholder="Current Password" type="password"
            formControlName="password" class="form-control"></ion-input>
          </ion-item>
          <ion-item class="rounded bottom-color">
            <ion-input formControlName="new_password" type="password"
            class="form-control" placeholder="New Password"></ion-input>
          </ion-item>
          <ion-item class="rounded bottom-color">
            <ion-input formControlName="confirm_password" id="confirm_password" 
              class="form-control" type="password" placeholder="Confirm Password">
            </ion-input>
          </ion-item>
          <p *ngIf="formErrors.new_password" class="alert alert-success"
          style="margin-top:20px;margin-bottom: 20px;">{{formErrors.new_password}}
          </p>
          <p *ngIf="formErrors.confirm_password" class="alert alert-success"
          style="margin-top:20px;margin-bottom: 20px;">{{formErrors.confirm_password}}
          </p>
          <button ion-button full color="primary" type="submit" [disabled]="!changePasswordForm.valid">Save</button>
      </ion-list>
    </form>
</ion-content>